
.isi{
    height: 456px;
    
}

.img2{
    bottom: 0;
    right: 0; 
    position: absolute;
    width: 600px;
}

.kiri1{
    width: 50%;
    float: left;
}

.kiri1 p{
    position: relative;
    z-index: 100;
    margin: 10% 5%;
    padding: 15px;
    background: rgba(169, 169, 169, 0.5);
    border-radius: 22px;
    width: auto;
    font-family: sans-serif;
    color: white;
    text-align: justify;
}


.kanan1{
    width: 50%;
    float: right;

}
.kanan1 h2{
    margin: 10%;
    padding: 1%;
    color: white;
    font-size: 50px;
}


@media (min-width:801px) and (max-width:1000px){
    .img2{
        width: 400px;
    }

    .kiri1{
        width: 60%;
        float: left;
    }
    .kanan1{
        width: 40%;
        float: right;

    }
}

@media (min-width:500px) and (max-width:800px){
    .img2{
        width:300px;
    } 
    
    .kiri1{
        width: 100%;
        float: left;
    }
    
    .kanan1{
        width: 100%;
        float: right;
    }

    .kiri1 p{
        margin: 5% 5% 0% 5%;
        padding: 3%;
    }

    .kanan1 h2{
        font-size: 40px;
        text-align: center;
        margin: 4% auto 0 auto;
        padding: 1%;
        color: white;
    }
}

@media (max-width:499px){    
    .img2{
        width:300px;
    }

    .kiri1{
        width: 100%;
        float: left;
    }
    .kanan1{
        width: 100%;
        float: right;
    }

    .kiri1 p{
        margin: 5% 5% 0% 5%;
        padding: 3%;
    }

    .kanan1 h2{
        font-size: 25px;
        text-align: center;
        margin: 4% auto 0 auto;
        padding: 1%;
        color: white;
    }

   
    .kiri1 p{
        font-size: 12px;
    }
    
}